doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Bosh sahifa
	body 
		header 
			nav 
				ul 
					li 
						a(href="/") Bosh sahifa
					li 
						a(href="/forma") Users

		main 
			h1 Bosh sahifa 
			p Royxatlar

			if route.length > 0
				each user in route
					h2 #{user.users}
					p #{user.age}
			else 
				p Malumot topilmadi
