doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
	body 
		header 
			nav 
				ul 
					li 
						a(href="/") Bosh sahifa
					li 
						a(href="/forma") Users

		main 
			form(action="/salom", method="post") 
				input(type="text", name="users")
				input(type="number", name="age")
				button(type="submit") Send
		